<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- partial "intro.html" . -}}
        <div class="container">
            <div class="row">
                <div id="content" class="col-xl-9">            
                    {{- block "main" . }}
                    {{- end }}
                </div>
                <div id="content" class="col-xl-3">
                    {{- partial "side-section.html" . -}}
                </div>            
            </div>
        </div>
        <br>
        {{- partial "footer.html" . -}}
    </body>
</html>
