# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

public/

# Gulp pipeline
node_modules/
themes/mind-blown/data/**/hash.*
themes/mind-blown/fonts
themes/mind-blown/src/js/vendors/**
themes/mind-blown/src/scss/vendors/**
static/


package-lock.json