{{ define "main" }} 
  {{ $recentposts := 5 }}
  {{ if .Params.recentposts }}
    {{ $recentposts = .Params.recentposts }}
  {{ end }}
  
  
  <!-- {{ if .Params.Subtitle }}
    <h3 class="font-weight-light font-italic text-center">{{ .Params.Subtitle | markdownify }}</h2>
  {{ end }} -->

  {{ range first $recentposts .Pages }}      
    <div class="container">      
      <div class="card shadow-lg">                            
        <div class="card-body remove-padding-buttom-card-list">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="text-center">          
                <a class="text-body text-uppercase" href="{{ .URL | relURL}}">{{ .Title | markdownify}}</a>
              </h1>

              <p class="text-muted text-center">
                  <a class="text-muted" href="{{ .Permalink }}"><i class="fa fa-calendar"></i> Published {{ .Date.Format "January 2, 2006"  }}</a>                                              
              </p>
              <br />    
              
                <p>{{ .Summary }}</p>
              
            </div>
            <div class="mx-auto">
              <p><a class="btn btn-primary align-center" href="{{ .URL | relURL }}">Read more...</a></p>                
            </div>              
          </div>

          <div class="row">
            <div class="col-xl-6">
              <p class="text-muted">Reading time: about {{ .ReadingTime }} minutes</p>
            </div>
            <div class="col-xl-6">
              <p class="text-right">
                <i class="fa fa-tags"></i>
                {{ range .Params.tags }}                
                  <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }} /</a>
                {{ end }}                      
              </p>
            </div>
          </div>                        
        </div>                
      </div>
    </div>
       
    <br />
  {{ end }}
{{ end }}
