<footer class="footer sticky-bottom bg-dark">
    <div class="container">
        <div class="row justify-content-center">                                                            
            <div class="col-9-md">                
                <ul class="list-inline">                    
                    <li class="list-inline-item"><a href="{{ .Site.Params.Github }}"><i class="fa fa-2x fa-github fa-lg"></i></a></li>
                    <li class="list-inline-item"><a href="{{ .Site.Params.LinkedIn }}"><i class="fa fa-2x fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="{{ .Site.Params.Twitter }}"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="{{ .Site.Params.Twitter }}"><i class="fa fa-2x fa-stack-overflow"></i></a></li>
                </ul>
            </div>
            <div class="col-3-md"></div>
        </div>
    </div>
</footer>