@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif !important;
}

li {  
  list-style-type: none;
}

div.remove-padding-buttom-card-list {
  padding-bottom: 0rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  line-height: 120px; /* Vertically center the text there */
  background-color: #f5f5f5;
}